body{
	margin: 10%;
}
h2{
	font-size: 200%;
	padding: 5px;
}
.line{
	width: 20%;
	height: 2px;
	margin-top:1%;
	background-color: black;
}
.inline-block{
	display: inline-block;
}
.bck{
	display: block;
}
.contenedor{
	margin-top: 5%;
	width: 80%;
	height: 80%;
}
.borde{
	border: solid 1px black;
}
.marg{
	margin: 1%;
}
.relative{
	position: relative;
}
.floatIzq{
	float: left;
}
.overFloat{
	overflow: hidden;
}
#contenedor >span{
	font-size: 50%;
	color: white;
	font-weight: 700;
	margin-top: 22%;
	margin-left: -15%;
}